<p>
    Aqui vemos el detalle
    <br>
    id
    <br>
   nombre
</p>
<hr>
<mgl-map [style]="style" [zoom]="[2]">
    <mgl-marker [lngLat]="[-75.551012, 10.421185]">
        <div onclick="alert('Hola')" class="marker">Hola</div>
    </mgl-marker> 
</mgl-map>